@model HomeViewModel
<div id="carouselExampleIndicators" class="carousel slide mt-1" data-ride="carousel">
    <ol class="carousel-indicators">
        @for (int i=0; i<=Model.Slide.Count(); i++)
        {
            <li data-target="#carouselExampleIndicators" data-slide-to="i"></li>
        }
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="https://caspianbookstoreblobs.blob.core.windows.net/bookstore-container/Slides/car1.jpg" alt="" />
            <div class="carousel-caption">
                <h1 class="font-weight-bold">Welcome to Caspian e-Book Store</h1>
                <h5>Place the order and get your interested book!</h5>
            </div>
        </div>
        @foreach (var slide in Model.Slide)
        {
            @await Html.PartialAsync("Carousel", slide)
        }
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row mt-3">
    <div class="col-8">
        <h2 class="">Prefered Books of the week </h2>
    </div>
    <div class="col-4 mt-3">
        <form class="float-right w-100" asp-controller="Books" asp-action="Search" method="get">
            <div class="input-group">
                <input type="text" class="form-control border-dark" placeholder="Search Book" name="searchString" value="@ViewData["searchString"]">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-dark btn-number">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>




<h4>Clients preferences - just for you!</h4>
<div class="row">
    @foreach (var book in Model.PrefferedBooks)
    {
        
        @Html.Partial("BooksList", book)
    }
</div>
