@model Slide
<div class="carousel-item">
    <img class="d-block w-100" src="@Html.DisplayFor(modelItem => Model.SlideUrl)" alt="@Html.DisplayFor(modelItem => Model.SlideBlobRef)">
    <div class="carousel-caption">
        <h1>Welcome to Caspian e-Book Store</h1>
        <p>Place the order and get your interested book!</p>
    </div>
</div>
